.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding: 100px 0 100px 0;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: #b3b1b1;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}

.jumbotron {
	padding: 70px 30px;
	margin: 0 auto;
	background: #8867c3;
	color: floralwhite;
}

.address {
	font-size: 80%;
	margin: 0;
	color: #000;
}

body {
	padding: 50px 0 50px 0;
	z-index: 0;
}

.navbar-dark {
	background-color: purple;
}
